<html>
  <head>
    <title>Py Bookshelf</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.svg') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/home.css') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
      integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>Welcome to your Bookshelf</h1>
    <div>Add a book manually or search Google for your current read :)</div>
    <!-- LOG A BOOK -->
    <h1 class="header header-add">Log a Book</h1>
    <form class="form-add-book" method="POST" action="/">
      <input type="text" name="title" placeholder="Title" />
      <input type="text" name="author" placeholder="Author" />
      <input type="text" name="published" placeholder="Year" />
      <input type="text" name="pages" placeholder="Page Count" />
      <input type="text" name="ISBN" placeholder="ISBN" />
      <button class="add-book-button" type="submit">Add Book</button>
    </form>
    <!-- BOOK SEARCH -->
    <div class="search">
      <div class="search-form-container">
        <h1>Book Search</h1>
        <form method="POST" action="/search">
          <input
            type="text"
            name="search"
            placeholder="Enter a keyword or ISBN..."
          />
          <button type="submit">Search</button>
        </form>
      </div>
      {% if results %}
      <h2 class="search-results-header">
        Search Results for "{{ search_term }}":
      </h2>
      <div class="search-results">
        <ul class="scrollable-results">
          {% for book in results %}
          <div class="book-result">
            <img
              src="{{ book['volumeInfo'].get('imageLinks', {'thumbnail': 'https://via.placeholder.com/128x196.png?text=No+Image'})['thumbnail'] }}"
              alt="Book Cover"
              class="book-result-cover"
            />
            <div class="book-result-info">
              <h3>
                {{ book['volumeInfo'].get('title', 'Title Unavailable') }}
              </h3>
              <p>by {{ book['volumeInfo'].get('authors', ['Unknown'])[0] }}</p>
              <p>
                ISBN: {{ book['volumeInfo'].get('industryIdentifiers',
                ['Unknown'])[0]['identifier'] }}
              </p>
              <button
                class="save-book"
                data-title="{{ book['volumeInfo']['title'] }}"
                data-author="{{ book['volumeInfo'].get('authors', ['Unknown'])[0] }}"
                data-published="{{ book['volumeInfo'].get('publishedDate', 'Unknown') }}"
                data-pages="{{ book['volumeInfo'].get('pageCount', 'Unknown') }}"
                data-ISBN="{{ book['volumeInfo'].get('industryIdentifiers', ['Unknown'])[0]['identifier'] }}"
                data-cover="{{ book['volumeInfo'].get('imageLinks', {'thumbnail': 'https://via.placeholder.com/128x196.png?text=No+Image'})['thumbnail'] }}"
              >
                Save Book
              </button>
            </div>
          </div>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <!-- Save result to collection with AJAX -->
      <script>
        const saveButtons = document.querySelectorAll(".save-book");
        saveButtons.forEach((button) => {
          button.addEventListener("click", function () {
            const title = this.dataset.title;
            const author = this.dataset.author;
            const published = this.dataset.published;
            const pages = this.dataset.pages;
            const ISBN = this.dataset.isbn;
            const cover = this.dataset.cover;

            // Send AJAX request to Flask
            fetch("/add_book", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({
                title: title,
                author: author,
                published: published,
                pages: pages,
                ISBN: ISBN,
                cover: cover,
              }),
            }).then((response) => {
              if (response.ok) {
                alert("Book added successfully!");
                window.location.href = "/"; // Redirect to the home route
              } else {
                alert("Error adding book.");
              }
            });
          });
        });
      </script>
    </div>
    <!-- MY BOOKSHELF -->
    <div class="container-books">
      <h1 class="header header-books">My Bookshelf</h1>
      <!-- EDIT BOOK MODAL -->
      <div
        class="modal fade"
        id="updateModal"
        tabindex="-1"
        aria-labelledby="updateModal"
        aria-hidden="true"
      ></div>

      <table class="table-books">
        <tr class="books-column">
          <td class="no-column"></td>
          <td class="books-column books-column-left">Title</td>
          <td class="books-column books-column-mid">Author</td>
          <td class="books-column books-column-mid">Published</td>
          <td class="books-column books-column-mid">Pages</td>
        </tr>
        {% for book in books %}
        <tr>
          <td class="book-cover-column">
            <img src="{{ book.cover }}" alt="Book Cover" class="book-cover" />
          </td>
          <td>{{book.title}}</td>
          <td>{{book.author}}</td>
          <td>{{book.published}}</td>
          <td>{{book.pages}}</td>
          <td class="cell-buttons">
            <button
              data-title="{{book.title}}"
              class="updateinfo btn btn-success"
            >
              Update Book
            </button>
            <form method="POST" action="./delete" style="display: inline">
              <input type="hidden" value="{{book.title}}" name="title" />
              <button class="button-delete btn" type="submit">
                Delete Book
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
      <script type="text/javascript">
        $(document).ready(function () {
          $(".updateinfo").click(function () {
            var title = $(this).data("title");
            $.ajax({
              url: "/update-ajax",
              type: "post",
              data: { title: title },
              success: function (data) {
                $(".modal").html(data);
                $(".modal").append(data.htmlresponse);
                $("#updateModal").modal("show");
              },
            });
          });
        });
      </script>
    </div>
  </body>
</html>
