<html>
  <head>
    <title>Py Bookshelf</title>
    <link
      rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/home.css') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1>Welcome to your Bookshelf</h1>
    <div>Add a book manually or search Google for your current read :)</div>
    <h1 class="header header-add">Log a Book</h1>
    <form class="form-add-book" method="POST" action="/">
      <input type="text" name="title" placeholder="Title" />
      <input type="text" name="author" placeholder="Author" />
      <input type="text" name="published" placeholder="Year" />
      <input type="text" name="pages" placeholder="Page Count" />
      <button type="submit">Add Book</button>
    </form>

    <div class="search">
      <h1>Book Search</h1>
      <form method="POST" action="/search">
        <input
          type="text"
          name="search"
          placeholder="Enter book title or author"
        />
        <button type="submit">Search</button>
      </form>

      {% if results %}
      <h2>Search Results for "{{ search_term }}":</h2>
      <ul>
        {% for book in results %}
        <div class="book-result">
          <h3>{{ book['volumeInfo'].get('title', 'Title Unavailable') }}</h3>
          <p>by {{ book['volumeInfo'].get('authors', ['Unknown'])[0] }}</p>
          <button
            class="save-book"
            data-title="{{ book['volumeInfo']['title'] }}"
            data-author="{{ book['volumeInfo'].get('authors', ['Unknown'])[0] }}"
            data-published="{{ book['volumeInfo'].get('publishedDate', 'Unknown') }}"
            data-pages="{{ book['volumeInfo'].get('pageCount', 'Unknown') }}"
          >
            Save Book
          </button>
        </div>
        {% endfor %}
      </ul>
      {% endif %}
      <!-- AJAX to save result to collection -->
      <script>
        const saveButtons = document.querySelectorAll(".save-book");
        saveButtons.forEach((button) => {
          button.addEventListener("click", function () {
            const title = this.dataset.title;
            const author = this.dataset.author;
            const published = this.dataset.published;
            const pages = this.dataset.pages;

            // Send AJAX request to Flask
            fetch("/add_book", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({
                title: title,
                author: author,
                published: published,
                pages: pages,
              }),
            }).then((response) => {
              if (response.ok) {
                alert("Book added successfully!");
                window.location.href = "/"; // Redirect to the home route
              } else {
                alert("Error adding book.");
              }
            });
          });
        });
      </script>
    </div>

    <div class="container-books">
      <h1 class="header header-books">My Bookshelf</h1>
      <table class="table-books">
        <tr class="books-column">
          <td class="books-column books-column-left">Title</td>
          <td class="books-column books-column-mid">Author</td>
          <td class="books-column books-column-mid">Published</td>
          <td class="books-column books-column-mid">Pages</td>
        </tr>
        {% for book in books %}
        <tr>
          <td>{{book.title}}</td>
          <td>{{book.author}}</td>
          <td>{{book.published}}</td>
          <td>{{book.pages}}</td>
          <!-- <td class="cell-update">
          </td> -->
          <td class="cell-buttons">
            <button
              data-title="{{book.title}}"
              class="updateinfo btn btn-success"
            >
              Update Book
            </button>
            <form method="POST" action="./delete" style="display: inline">
              <input type="hidden" value="{{book.title}}" name="title" />
              <button class="button-delete btn" type="submit">
                Delete Book
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
      <script type="text/javascript">
        $(document).ready(function () {
          $(".updateinfo").click(function () {
            var title = $(this).data("title");
            $.ajax({
              url: "/update-ajax",
              type: "post",
              data: { title: title },
              success: function (data) {
                $(".modal-body").html(data);
                $(".modal-body").append(data.htmlresponse);
                $("#updateModal").modal("show");
              },
            });
          });
        });
      </script>
    </div>

    <div class="modal fade" id="updateModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Update Book Info:</h4>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
