/* General Styling */
body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-image: url("https://www.transparenttextures.com/patterns/exclusive-paper.png");
  background-color: #e9d6b8; /* Base weathered paper color */
}

h1 {
  text-align: left;
  color: #49311c; /* Dark brown */
  margin-top: 2em;
}

/* Form Styling */
.form-add-book input[type="text"] {
  width: calc(100% - 10px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #a57a44; /* Brownish border */
  border-radius: 5px;
}

.form-add-book button[type="submit"] {
  background-color: #3f6826; /* Forest green */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Search Styling */
.search input[type="text"] {
  width: calc(100% - 10px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #a57a44; /* Brownish border */
  border-radius: 5px;
}

.search button {
  background-color: #875d28; /* Contrasting brown */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Book Result Styling */
.book-result {
  border: 1px solid #a57a44; /* Brownish border */
  padding: 15px;
  margin-bottom: 10px;
  background-color: #f0e8d4; /* Lighter paper color */
}

.save-book {
  background-color: #3f6826; /* Forest green */
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

/* My Bookshelf Table Styling */
.table-books {
  width: 100%;
  border-collapse: collapse;
}

.table-books td,
.table-books th {
  border: 1px solid #a57a44; /* Brownish border */
  padding: 10px;
  text-align: left;
}

.table-books th {
  background-color: #c7a577; /* Slightly darker for header */
}

.table-books tr {
  background-color: #f0e8d4; /* Lighter paper color */
}

.books-column {
  background-image: url("https://www.transparenttextures.com/patterns/exclusive-paper.png");
  background-color: #c7a577; /* Slightly darker for header */
  text-align: center !important;
}

.cell-buttons {
  background-image: url("https://www.transparenttextures.com/patterns/exclusive-paper.png");
  background-color: #e9d6b8; /* Base weathered paper color */
  text-align: center !important;
  border: none !important;
}

.button-delete {
  background-color: #803028; /* Mahogany */
  margin-left: 1em;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Styling to remove top and outer borders */
.books-column-left,
.books-column-mid,
.books-column-right {
  border-top: none !important;
}

.books-column-left {
  border-left: none !important;
}

.books-column-right {
  border-right: none !important;
}

/* Modal Styling */

.modal-content {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  background-color: #f0e8d4; /* Lighter paper color */
  padding: 8px;
  border: 2px solid #a57a44; /* Brownish border */
  border-radius: 5px;
}

.modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 100%;
  color: #49311c; /* Dark brown */
  background-color: #c7a577; /* Slightly darker for header */
  border-bottom: 4px solid #49311c; /* Dark brown */
  padding: 10px 20px;
  border-radius: 5px 5px 0 0;
}

.modal-title {
  color: #49311c; /* Dark brown */
  flex: 1;
  font-weight: 500;
  border-radius: 5px;
}

.modal-close {
  background-color: #803028; /* Mahogany */
  color: white;
  padding: 4px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-body-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  height: fit-content;
}

.modal-body-header {
  width: 100%;
  background-color: #c7a577; /* Slightly darker for header */
  padding: 10px;
  border: 1px solid #a57a44; /* Brownish border */
  border-radius: 5px;
  font-weight: bold;
}

.modal-body-input {
  width: 70%;
  padding: 10px;
  border: 1px solid #a57a44; /* Brownish border */
  border-radius: 5px;
}

.modal-submit {
  background-color: #3f6826; /* Forest green */
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 16px;
}

.modal-cancel {
  background-color: #803028; /* Mahogany */
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -32px;
}
